body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    text-align: center;
    padding: 40px;
}
h1{
    color: aquamarine;
    font-size: 2.5em;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: blue;
}
